.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-1px);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.05);
}

.btn-group-sm .btn {
  font-size: 0.75rem;
}

select {
  font-size: 0.875rem;
  width: auto ;
}
.rounded-circle{
    width: 32px; 
    height: 32px;
}
