.nav-pills .nav-link {
    //   color: #6c757d;
    }
    
    .nav-pills .nav-link.active {
      background-color: #007bff;
    }
    
    .card {
      transition: all 0.3s ease;
    }
    
    .table-sm td, .table-sm th {
      padding: 0.5rem;
    }